.toggle-sim-bar {
    width: 3rem;
    height: 3rem;
}
.toggle-sim-bar > svg {
    aspect-ratio: 1/1;
}

.sim-bar > .sim-playground {
    transition-duration: 0.3s;
    max-width: 500px;
    min-width: 300px;
    transform: scale(0);
}

.overlay {
    opacity: 0.5;
    transition-duration: 0.3s;
    background-color: black;
}
.overlay.hidden {
    display: none;
}
.overlay:not(.hidden) {
    display: block;
}

.sim-bar > .sim-playground.hidden {
    opacity: 0;
}
.sim-bar > .sim-playground:not(.hidden) {
    opacity: 1;
    transform: translate(-50%) scale(1);
}

.sim-playground > button {
    width: 2rem;
    height: 2rem;
    top: -1rem;
    right: -1rem;
}

.general-area > .sim-ground {
    width: 300px;
    height: 300px;
    background-color: white;
}

@media (max-width: 768px) {
    .sim-bar > .sim-playground {
        left: 50%;
        transform: translate(-50%) scale(0);
    }
}
