.toggle-sim-bar {
    width: 3rem;
    height: 3rem;
}
.toggle-sim-bar > svg {
    aspect-ratio: 1/1;
}

.overlay {
    opacity: 0.75;
    transition-duration: 0.3s;
    background-color: black;
    z-index: 5;
}
.overlay.hidden {
    display: none;
}
.overlay:not(.hidden) {
    display: block;
}

.sim-bar > .sim-playground {
    z-index: 15 !important;
    max-height: calc(100%-10rem) !important;
}

.sim-bar > .sim-playground,
.general-area > .sim-activation {
    transition-duration: 0.3s;
    max-width: 500px;
    min-width: 300px;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
}
.sim-bar > .sim-playground.hidden,
.general-area > .sim-activation.hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.sim-playground > button,
.sim-activation > button {
    width: 2rem;
    height: 2rem;
    top: -1rem;
    right: -1rem;
}

.general-area button.activate-sim {
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.general-area > .sim-activation {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 6 !important;
}

.sim-input > input[type="text"] {
    border: 1px solid black;
}

@media (min-width: 992px) {
    .sim-bar > .sim-playground {
        opacity: 1 !important;
        left: 0 !important;
        transform: translate(0) scale(1) !important;
        height: calc(100% - 3rem) !important;
        z-index: 1 !important;
    }
}
