@media (min-width: 768px) {
    .full-page {
        height: 75vh;
    }
    .full-page .sec {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .dev .author {
        border-bottom: solid white 1px;
    }
    footer .acknowledgement {
        border-right: 1px solid white;
    }
    .w-lg-35 {
        width: 35% !important;
    }
    .fs-lg-3 {
        font-size: 1rem !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
}
