@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

.header {
    height: 16vh;
    background-color: #B30C00;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subtitle {
    font-size: 32px;
    font-weight: 200;
}

.background-image {
    filter: brightness(0.13);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.simBG {
    background-image: url(assets/sim-background.jpg);
}

.txtBG {
    background-image: url(assets/txt-background.jpg);
}

.section {
    position: relative;
    color: white;
    border-bottom: 2px solid #B30C00;
}

.footer {
    background-color: #B30C00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.inner-title {
    height: 15%;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 30px;
}

.inner-p {
    font-size: 24px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.left {
    text-align: start;
}

.sim, .txt {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 30px;
    padding: 30px;
}

.sim a, .txt a {
    background-color: #B30C00;
    color: white;
    padding: 30px;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: transform;
    text-decoration: none;
}

.sim a:hover, .txt a:hover {
    transform: scale(110%);
}

@media (max-width: 424px) {
    .header {
        height: 15vh;
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 16px;
    }

    .inner-title {
        font-size: 18px;
    }

    .inner-p {
        margin: 0;
        font-size: 14px;
    }

    .sim, .txt {
        grid-template-columns: 200px;
        gap: 10px;
        place-content: center;
    }
    
    .sim a, .txt a {
        font-size: 16px;
        padding: 20px;
    }
    
    .footer {
        height: 10vh;
        padding: 10px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .header {
        height: 15vh;
    }
    
    .title {
        font-size: 36px;
    }
    
    .subtitle {
        font-size: 24px;
    }

    .inner-title {
        font-size: 24px;
    }
    
    .inner-p {
        margin: 0;
        font-size: 18px;
    }
    
    .sim, .txt {
        grid-template-columns: 300px;
        place-content: center;
    }

    .sim a, .txt a {
        font-size: 18px;
        padding: 20px;
    }

    .footer {
        height: 5vh;
    }
}

@media (min-width: 768px) and (max-width: 1357px) {
    .header {
        height: 15vh;
    }
    
    .title {
        font-size: 36px;
    }
    
    .subtitle {
        font-size: 24px;
    }

    .inner-title {
        font-size: 28px;
    }
    
    .inner-p {
        margin: 0;
        font-size: 26px;
    }
    
    .sim, .txt {
        grid-template-columns: 400px;
        place-content: center;
    }

    .sim a, .txt a {
        font-size: 24px;
        padding: 20px;
    }

    .footer {
        height: 5vh;
    }
}

@media (min-width: 2560px) {
    .title {
        font-size: 92px;
    }

    .subtitle {
        font-size: 60px;
    }

    .inner-title {
        font-size: 52px;
    }

    .inner-p {
        font-size: 44px;
    }

    .sim, .txt {
        max-width: 1440px;
        margin: auto;
    }

    .sim a, .txt a {
        font-size: 36px;
    }

    .footer {
        font-size: 32px;
        height: 5vh;
    }
}