* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: lightgray;
}

.title {
    height: 7%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.content {
    height: 93%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: white;
    padding: 15px;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.properties {
    width: 100%;
    height: 29%;
    background-color: white;
}

.simulation {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.sidebar > div {
    margin-top: 20px;
    font-size: 20px;
}

.sidebar > div > input {
    font-size: 20px;
}

[btn] {
    width: 150px;
    background-color: gray;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 30px !important;
    transition-property: width;
    transition-duration: 0.3s;
    cursor: pointer;
}

[btn]:hover {
    width: 190px;
}

[btn]:active {
    background-color: black;
}

.section2 {
    width: 77%;
    height: 100%;
}

canvas {
    border-bottom: 5px solid black;
}

[type="range"] {
    width: 200px;
}

[type="range"] + label {
    margin-left: 15px;
}

.properties {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    font-size: 18px;
}

.text span {
    font-weight: bold;
}

.hamburger-menu {
    width: 60px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: none;
}

.line {
    width: 100%;
    height: 7px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 0;
}

.line:nth-child(2) {
    top: 50%;
}

.line:last-child {
    top: 100%;
}

.close-menu {
    width: 25px;
    height: 25px;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 8;
}

@media (max-width: 767px) {
    .title {
        font-size: 20px;
        margin: 10px;
        width: 90%;
    }

    .hamburger-menu {
        display: block;
    }

    .sidebar {
        width: 85%;
        height: 85%;
        overflow: scroll;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        z-index: 9;
    }
    
    .sidebar label, .sidebar input {
        font-size: 18px;
    }

    .sidebar input[type="text"] {
        width: 100%;
    }

    .sidebar input[type="range"] {
        width: 80%;
    }

    .close-menu {
        display: flex;
    }

    [btn] {
        padding: 10px;
        font-size: 24px !important;
        margin: auto;
    }

    .lay-cont {
        width: 90% !important;
    }

    .properties .text {
        font-size: 18px !important;
    }

    img {
        width: 100%;
    }
    
    canvas {
        width: 100%;
    }

    .section2 {
        width: 100%;
        height: 100%;
    }

    .simulation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .properties {
        height: 26%;
    }

    .info {
        margin: 15px !important;
        margin-bottom: 20px !important;
    }
}